

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Archetype Created Web Application</display-name>
 
  <welcome-file-list>
     <welcome-file>/Home.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>AddStaffServlet</servlet-name>
    <servlet-class>co.library.servlet.AddStaffServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AddStaffServlet</servlet-name>
    <url-pattern>/staff-form</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DisplayStaffServelet</servlet-name>
    <servlet-class>co.library.servlet.DisplayStaffServelet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DisplayStaffServelet</servlet-name>
    <url-pattern>/view-all-staff</url-pattern>
</servlet-mapping>
  
  
  
</web-app>
